
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


div h1{
    font-family: 'Satisfy', cursive;
}
div p span{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-image: url(../img/fondo.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.data{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0,0.6);
    z-index: -1;
    top: 0;left: 0;
}
.avatar-contenedor{
    width: 180px;
    height: 180px;
    margin-left: 45%;
    margin-top: 15rem;

}

.avatar{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    
}
div p{
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    padding: 0;
    margin: 0;
}
.parrafo{
    text-align: center;
}
.contenedor{
    margin: 0 auto;
    background-color: blue;
}