@import url('https://fonts.googleapis.com/css2? family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');

html{
    font-family: 'PT Sans', sans-serif;
}

body {
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); 
}


.titulo{
    color: white;
    background-color: #38b2ac;
    font-weight: 700;
    font-size: 3rem;
    
}
#mi-formulario{
    text-align: center;
    margin-top: 60px;
    background-color: white;
    width: 100rem;
    margin: 0 auto;
    -webkit-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
}
#mi-formulario fieldset{
    border: none;

}

.btn{
    background-color: #38b2ac;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 20%;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #358b86;
}
.grupo-input{
    font-weight: bold;
    font-size: 1.1rem;
    max-width: 400px;
    margin: 0 auto;
     
   
    
}
.grupo-input [type="number"] {
    font-size: 1.5rem;
    padding: 0.8rem;
    width: 80%;
    margin: 1rem auto;
    border: none;
    background-color: #f5fafc;
   
}
@media (max-width: 850px){
    #mi-formulario {
        width: 70%;
    
    }
 
    .grupo-input{
        max-width: 300px;
        text-align: center;
    }
   
}

.error{
    background-color: #e9d6ce;
    border: solid #e96443;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #e96443;
}
.correcto {
    background-color: #b6ebba;
    border: 1px solid #358b86;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #46c060;
}

/* menu */
*{
    padding: 0 auto;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-color: #1d2951;
    line-height: 80px;
    width: 100%;
    z-index: -1;
}
nav ul{
    float: right;
    margin-right: 20px;
    text-decoration: none;
}
nav ul li{
    line-height: 80px;
    margin: 0 auto;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color:#358b86;
    border-radius: 3px;
    text-decoration: none;
  
}
nav ul li a:hover{
    background-color:#4b9490;;
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}
.aside-menu{
    
    background-color: #38b2ac;
    width: 270px;
    height: 100%;
    position: fixed;
    right: 100%;
    transition: all 500ms ease;

}
.aside-menu center h2{
    color: #ffffff;
    margin-top: 5rem;
    font-size: 2.5rem;
}
.link{
    margin-top: 5rem;
}
.aside-menu a {
    display: block;
    line-height: 60px;
    transition: 0.5s;
    font-size: 20px;
    text-decoration: none;

}
.aside-menu span{
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
}
.aside-menu center img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid #ffffff;
}
.aside-menu a:hover{
    background: #96689c;
    padding-left: 10px;
    list-style: none;
    text-decoration: none;
}
.glyphicon-question-sign,
.glyphicon-file,
.glyphicon-th,
.glyphicon-education{
    font-size: 20px;
    margin-left: 20px;
    color: #ffffff;
    
  
}
/* ocultar menu */
.glyphicon-list{
    margin-left: 50px;
    cursor: pointer;
    color: #358b86;
    font-size: 30px;
   
}
#menu{
    display: none;
}
.menu-bar{
    float: right;
    margin-top: 10px;
    margin-right: -30px;
    
}

@media (max-width:850px){

    .aside-menu a span{
        display: none;
        
    }

    .aside-menu center{
        display: none;
    }
    .aside-menu{
        width: 100px;
    }
    .aside-menu a i{
        display: block;
        line-height: 150px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;

    }
   
}
@media (max-width:650px) {

    .aside-menu{
        width: 100%;
        text-align: center;
        left: 100%;
        background-color: #4c516d;
        transition: all 0.5s;
    }
    .aside-menu a i{
        display: none;
    }
    .aside-menu a span{
        display: block;
    }
    nav .menu-bar{
        display: block;
        margin-right: 0px;
    }
    .aside-menu .inicio{
        display: block;
    }
    nav ul{
        display: none;
    }
   
}
#menu:checked ~ .aside-menu{
    left: 0;

}