:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --pirmario: #56d5da;
    --secundario: #7e1688;
    --parrafos: #8d3428;
    --blanco: #FFFFFF;


}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* se usa para que 1 rem = 10 px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--pirmario);
    margin: 0;
    padding: 0;
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

h1,h2{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 7rem;
}
h2 {
    font-size: 5rem;
}

div img{
    margin-top: 4rem;
    width: 23%;
    border-radius: 5rem;
    border: 1px solid var(--secundario);
}
.header{
text-align: center;

}
.pregunta{
    font-family: var(--fuenteHeading);
    color: var(--secundario);
}
.parrafo{
color: var(--parrafos) ;
font-size: 2.5rem;
}
.informacion{
    text-align: center;

}
li{
    list-style: none;
    color: var(--parrafos);
    font-size: 2.5rem;
}
.caracteristica{
    font-family: var(--fuenteHeading);
    color: var(--secundario);
}
.footer{
   text-align: center;
   font-size: 3rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-top: 0 auto;
   background-color: var(--secundario);
   margin: 0 auto;
   color: var(--blanco);
    
}
/* menu */
nav{
    background-color: #1d2951;
    line-height: 80px;
    width: 100%;
    z-index: -1;
}
nav ul{
    float: right;
    margin-right: 20px;
    text-decoration: none;
}
nav ul li{
    line-height: 80px;
    margin: 0 auto;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color: #3722f6;
    border-radius: 3px;
    text-decoration: none;
  
}
nav ul li a:hover{
    background-color: #311bd6;
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}
.aside-menu{
    
    background-color: #1d2951;
    width: 270px;
    height: 100%;
    position: fixed;
    right: 100%;
    transition: all 500ms ease;

}
.aside-menu center h2{
    color: #ffffff;
    margin-top: 5rem;
    font-size: 2.5rem;
}
.link{
    margin-top: 5rem;
}
.aside-menu a {
    display: block;
    line-height: 60px;
    transition: 0.5s;
    font-size: 20px;
    text-decoration: none;

}
.aside-menu span{
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
}
.aside-menu center img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid #ffffff;
}
.aside-menu a:hover{
    background: #1d36a5;
    padding-left: 10px;
    list-style: none;
    text-decoration: none;
}
.glyphicon-question-sign,
.glyphicon-file,
.glyphicon-th,
.glyphicon-education{
    font-size: 20px;
    margin-left: 20px;
    color: #ffffff;
    
  
}
/* ocultar menu */
.glyphicon-list{
    margin-left: 50px;
    cursor: pointer;
    color: var(--secundario);
    font-size: 30px;
   
}
#menu{
    display: none;
}
.menu-bar{
    float: right;
    margin-top: 8px;
    margin-right: 20px;
    
}

@media (max-width:850px){

    .aside-menu a span{
        display: none;
        
    }

    .aside-menu center{
        display: none;
    }
    .aside-menu{
        width: 100px;
    }
    .aside-menu a i{
        display: block;
        line-height: 150px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;

    }
    .titulo{
    margin-left: 100px;
    }
}
@media (max-width:650px) {

    .aside-menu{
        width: 100%;
        text-align: center;
        left: 100%;
        background-color: #4c516d;
        transition: all 0.5s;
    }
    .aside-menu a i{
        display: none;
    }
    .aside-menu a span{
        display: block;
    }
    nav .menu-bar{
        display: block;
    }
    .aside-menu .inicio{
        display: block;
    }
    nav ul{
        display: none;
    }
   
}
#menu:checked ~ .aside-menu{
    left: 0;

}