:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --pirmario: #56d5da;
    --secundario: #7e1688;
    --parrafos: #8d3428;
    --blanco: #FFFFFF;


}
html {
    background-color: var(--pirmario);
    box-sizing: border-box;
    font-size: 62.5%; /* se usa para que 1 rem = 10 px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

h1,h2{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 7rem;
}
h2 {
    font-size: 5rem;
}

img{
    width: 23%;
    border-radius: 5rem;
    border: 1px solid var(--secundario);
}
.header{
text-align: center;

}
.pregunta{
    font-family: var(--fuenteHeading);
    color: var(--secundario);
}
.parrafo{
color: var(--parrafos) ;
font-size: 2.5rem;
}
.informacion{
    text-align: center;

}
li{
    list-style: none;
    color: var(--parrafos);
    font-size: 2.5rem;
}
.caracteristica{
    font-family: var(--fuenteHeading);
    color: var(--secundario);
}
.footer{
   text-align: center;
   font-size: 3rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-top: 0 auto;
   background-color: var(--secundario);
   margin: 0 auto;
   color: var(--blanco);
    
}